// Featured Sponsors
//
// This is the featured-sponsors component.
//
// .featured-sponsors--short - A variation of featured-sponsors with all elements.
//
// Markup: featured-sponsors.twig
//
// Style guide: Components.featured-sponsors

// Import site utilities.
@import '../../global/utils/init';

.featured-sponsors {
  background: $color-gallery;
  display: flex;

  &.featured-sponsors__teaser {
    background: transparent;
  }
}

.featured-sponsors__wrapper {
  margin-bottom: 8rem;
}

.featured-sponsors__image {
  line-height: 0.8;
  overflow: hidden;
  flex: 0 0 400px;
  background: linear-gradient(#B5EBEB, #5DAC5D);
}

.featured-sponsors__social-icons {
  background: $color-black;
  padding: 1rem 2.5rem;
  line-height: 1;
  justify-content: space-around;

  .social-icons__item {
    margin: 0;
    padding: 0;
  }
}

.featured-sponsors__right {
  flex: 0 0 calc(100% - 400px);
  padding: 2rem 3rem;

  .featured-sponsors__teaser & {
    flex: 0 0 100%;
  }
}

.featured-sponsors__body {
  margin-bottom: 3rem;
}

.featured-sponsors__items {
  display: flex;
  justify-content: space-between;
}

.featured-sponsors__card {
  flex: 0 0 32%;
  border-radius: 0 4px 4px;
  background: $color-gallery;

  .featured-sponsors__teaser & {
    padding-top: 2rem;
  }
}
