// Sponsor
//
// This is the sponsor component. It's an example.
//
// .sponsor--full - A variation of sponsor with all elements.
//
// Markup: sponsor.twig
//
// Style guide: Components.Sponsor

// Import site utilities.
@import '../../global/utils/init';

.sponsor {
  @include clearfix;
  background: $color-alabaster;
  max-height: 583px;
  overflow: hidden;
}

.sponsor__media,
.sponsor__text {
  float: left;
}

.sponsor__media {
  background: $color-cool-green;
  overflow: hidden;
  line-height: 0.8;
  max-width: 450px;
}

.sponsor__text {
  padding: 5rem 4rem 6rem 6rem;
  width: calc(100% - 450px);
}

.sponsor__heading {
  font-weight: bold;
  margin-bottom: 2rem;
}

